body
{
    color: #333;
    text-align: left;
    font-family: "Arial";
}

#cabecera
{
    background: #33a;
    color: white
    padding: 0.5em;
    
}
#container
{
   width: 70%; 
   padding: 1em;
   text-align: left;
   border: 1px solid #ddd
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: lem;

}